.AuthData {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #cccccc;
    border: 1px solid #eeeeee;
    padding: 10px;
    box-sizing: border-box;
}

@media (min-width:600px) {
    .AuthData {
        width: 500px;
    }
}